.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    min-width: 10rem;
    width: auto;
    height: 4rem;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bolder;
    border: none;
    align-items: center;
    cursor: pointer;

    &-black {
        color: white;
        background-color: black;

        &:hover {
            color: black;
            background-color: white;
            border: 1px solid black;
        }
    }


    &-white {
        color: black;
        background-color: white;

        &:hover {
            color: white;
            background-color: black;
            border: none;
        }
    }
}