@import '../abstracts/variables';

.cardIcon {
    position: relative;
    cursor: pointer;

    &__container {
        width: 2.25rem;
        height: 2.25rem;

        &-icon {
            transform: scale(1.7);
            fill: $color-dark-dark-2;
        }

        @media screen and (max-width:37.5em) {
            transform: scale(1);
        }
    }

    &__itemCount {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: $color-primary;
        // background-color: var(red);
        color: #fff;
        position: absolute;
        top: -.5rem;
        right: -1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}