@import '../abstracts/variables';

.cart{
    position: absolute;
    top: 3rem;
    right: 0;
    padding: 2rem;
    width: 15rem;
    height: 24rem;
    border: 1px solid $color-dark-dark-2;
    background-color:$color-dark-light-1 ;
    display: flex;
    flex-direction: column;
    z-index: 5;

    &__items{
        height: 14rem;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    // &__btn{
    //     margin-top: auto;
    // }
}

button{
    margin-top: auto;
}