@import '../abstracts/variables';
@import '../abstracts/mixin';

.group {
    position: relative;
    margin: 1rem 0;

    &__input {
        border: none;
        background: none;
        border-radius: 0;
        color: $color-dark-dark-1;
        border-bottom: 1px solid $color-dark-dark-2;
        font-size: 1rem;
        font-weight: normal;
        padding: 1rem 1rem 1rem .5rem;
        width: 100%;
        margin: 25px 0;

        &:focus {
            outline: none;
        }
    }

    &__input:focus+&__lable {
        @include shirink();
    }


    &__lable {
        color: $color-dark-dark-1;
        font-size: 1rem;
        position: absolute;
        left: 5px;
        top: 2.5rem;
        font-weight: normal;
        pointer-events: none;
        transition: all .3s;

        & .shirink {
            @include shirink();
        }
    }
}