@import '../abstracts/variables';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;

    &_logo {
        fill: $color-primary;
        position: absolute;
        top: -1rem;
        left: 1rem;

        @media screen and (max-width:37.5em) {
            position: absolute;
            top: 0;
            left: 0;
        }

        &-path {
            transform: scale(2);
        }
    }
}