.header{
    position: relative;
    
    // &_container{
    //     position: absolute;
    //     top: 3rem;
    //     left: 3rem;

    // }

    &_logo{
        width: 4rem;
        position: absolute;
        top: 3rem;
        left: 3rem;
    }
}