@import '../abstracts/variables';

.header{
    display: flex;
    position: relative;
    
    &_logo{
        width:4rem ;
        fill:$color-primary;
        position: absolute;
        top: 0;
        left: 3rem;

        &-path{
            transform: scale(2.5);
        }
    }
}